.scaleBigToText {
  transition: all 0.2s ease-in-out;
}

.scaleBigToText:hover {
  transform: scale(1.1);
}

.container-fluid {
  margin-top: 10%;
}

.goBtn {
  margin-top: 15px;
  transition: all 0.5s ease-in-out;
}

.goBtn:hover {
  transform: scale(1.15);
}
